@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  transition: all 250ms ease;
}

:root {
  --white: #fff;
  --prime: #e76f51;
  --dark: rgb(25, 29, 51);
}

html,
body {
  height: 100%;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.image {
  width: 34%;
  background: url(./img/climber.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
}

.header {
  background-color: #22223b8a;
  padding: 1rem;
  font-family: "Major Mono Display", sans-serif;
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  font-size: 1rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header img {
  width: 4rem;
  height: 4rem;
}

.footer {
  position: absolute;
  bottom: .5rem;
  left: 0;
  right: 0;
  color: var(--white);
}

.footer p {
  margin: .5rem 0;
}

.footer a {
  color: var(--white);
}

.footer a:hover {
  background-color: var(--prime);
  border-radius: .2rem;
}

.content {
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  color: var(--dark);
}

.content p.desc {
  font-weight: 700;
  font-size: 1.5rem;
}

.content p,
.content button {
  margin: 0 5rem;
}

.content .form-wrapper {
  width: 100%;
  box-shadow: 0 0 .6rem -.2rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content h3 {
  font-size: 1.5rem;
}

.content .form {
  display: flex;
  gap: 3rem;
}

.content .form .form-part {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  font-size: .7rem;
}

label input {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border: solid .1rem #E5E7EB;
  border-radius: .3rem;
  padding: .3rem 1rem;
}

label input:focus{
  box-shadow: 0 0 .7rem -.2rem;
  outline: solid .1rem blue;
}

input:invalid {
  outline: solid .1rem red;
}


.content button {
  font-family: "Roboto", sans-serif;
  background-color: var(--prime);
  border: solid var(--prime);
  font-weight: 700;
  color: var(--white);
  padding: 1rem 5rem;
  margin-top: 3rem;
  border-radius: .5rem;
  cursor: pointer;
}

.content button:hover {
  background-color: white;
  color: var(--prime);
}

.content a {
  color: var(--prime);
  text-decoration: none;
  font-weight: 700;
}

.content a:hover {
  color: white;
  background-color: var(--prime);
  border-radius: .2rem;
}

a {
  padding: .32rem;
}

.highlight {
  padding: 0 .5rem;
  background-color: var(--prime);
  color: white;
  border-radius: .5rem;
}